# Python related
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Virtualenvs and IDE
.env
.idea/
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db

# Build artifacts
_site/
build/
dist/
*.egg-info/

# Python packaging
pip-wheel-metadata/

# Logs
*.log

# Other
*.bak
*.swp

